*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    font-family: 'DM Sans',sans-serif;
}

.card{
    background: white;
    border-radius: 20px;
    padding: 40px 32px 36px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 32px black;
}
.logo-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.heading{
    text-align: center;
    margin-bottom: 28px;
}
.heading h1{
    font-size: 22px;
    font-weight: 700;
    color: black;
    margin-bottom: 6px;
}

.heading p{
    font-size: 14px;
    color: grey;
}
.field{
    margin-bottom: 20px;
}
.field label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-bottom: 8px;
}
.field input{
    font-size: 14px;
    width: 100%;
    padding: 13px 16px;
    border: 1.5px solid #e0e0e0;
    border-radius: 10px;
    color: #333;
    outline: none;
    transition: border-color 0.2s;
    font-family: inherit;
    background: white;
}

.field .hint{
    margin-top: 6px;
    font-size: 12.5px;
    color: #5c35f5;
}
.btn-signin{
    width: 100%;
    padding: 15px;
    background:#5c35f5;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s,transform 0.1s;
    font-family: inherit;
    margin-top: 4px;
}
.btn-signin :hover{
    background: #4a27d4;
}
.btn-signin :active{
    transform: scale(0.98);}

.divider{
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 24px 0 18px;
}    

.divider::before,
.divider::after{
content: '';
flex: 1;
height: 1px;
background: #e8e8e8;
}
.divider span{
    font-size: 13px;
    color: #999;
    font-weight: 500;
}
.demo-label{
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 10px;
}

.demo-box{
    background: #f7f7f7;
    border-radius: 10px;
    padding: 14px 18px;
    text-align: center;
}

.demo-box p{
    font-size: 14px;
    color: #333;
    
}